$question-color: #2F527B;
$border-color: #6066D0;
$hover-color: #F9A826;
$correct-color: #60BF88;
$incorrect-color: #EA8282;


.question{
    width: 450px;
    position: relative;

    &__image{
        position: absolute;
        top: -130px;
        right: 0;
    }

    &__flag{
        img{
            width: 150px;
            border: 1px #cdcdd3 solid;
        }
    }

    &__text{
        font-weight: 700;
        color: $question-color;
        font-size: 24px;
        margin: 20px;
        margin-top: 40px;
    }

    &__answer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        margin: 20px;

        min-height: 56px;
        border: 1px $border-color solid;
        border-radius: 12px;

        color: $border-color;
        text-align: left;
        cursor: pointer;

        &:hover{
            background: $hover-color;
            color: white;
            border: 1px solid $hover-color;
        }

        &-unactive{
            pointer-events: none;
        }

        &-correct{
            background: $correct-color;
            border: 1px $correct-color solid;
            color: white;
        }
        &-incorrect{
            background: $incorrect-color;
            border: 1px $incorrect-color solid;
            color: white;
        }

        p{
            margin: auto 15px;
        }
    }

    &__next{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 20px 10px auto;

        width: 116px;
        height: 56px;
        border-radius: 12px;
        background: $hover-color;

        color: white;
        cursor: pointer;
        
        &:hover{
            background: darken($hover-color, 8%);
        }
        &:active{
            background: darken($hover-color, 12%);
        }
    }
}

@media (max-width: 550px){
    .question{
        width: 80vw;
        min-height: 75vh;
        
        &__flag img{
            width: 100px;
        }

        &__text{
            font-size: 16px;
        }

        &__answer{
            margin: 10px;
        }

        &__next{
            margin-right: 10px;   
        }

        &__image img{
            width: 120px;
        }
    }
}

@media (max-width: 320px) {
    .question__image{
        display: none;
    }
}