.quiz{
    max-width: min-content;
    margin: auto;

    &__title{
        color: white;
        margin-bottom: 10px;
    }

    &__game{
        background: white;
        border-radius: 24px;
        padding: 10px;
    }
}

@media (max-width: 550px){
    .quiz{
        height: 90vh;
        width: 95vw;

        &__title{
            font-size: 20px;
        }
    }
}