@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.App {
  background-image: url('./components/assets/background.png');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  min-height: 100vh;
}
